# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Documentos\Universidad\Nivel 6\Técnicas de ingeniería de software\Lab\TrabajoTingeso\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
